<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
    bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Basic Test">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1" />
    </php>
</phpunit>